scipy 
matplotlib
database-connect
aiofiles
dill 
dnspython
evidently 
httptools 
imblearn 
jinja2 
mypy-boto3-s3 
pip-chill 
pymango
python-dotenv 
python-multipart
seaborn
types-s3transfer 
uvicorn 
watchfiles 
wincertstore
websockets 
xgboost
neuro-mf
boto3 
pandas 
numpy 
Flask
scikit-learn
# -e .








